<html>
<head>
<style type="text/css" media="screen">
    @import url('{{MEDIA_URL}}css/base.css');
</style>

<script type="text/javascript">
function setCheckedValue(radio_obj, new_value) {
    alert('chegou')
    if(!radio_obj)
        return;
    var radioLength = radio_obj.length;
    if(radioLength == undefined) {
        radio_obj.checked = (radio_obj.value == new_value.toString());
        alert(radio_obj)
        alert(radio_obj.checked)
        return;
    }
    for(var i = 0; i < radioLength; i++) {
        radio_obj[i].checked = false;
        if(radio_obj[i].value == new_value.toString()) {
            radio_obj[i].checked = true;
            alert(radio_obj[i])
            alert(radio_obj[i].checked)
        }
    }
}
</script>
</head>

<body>

{% load static %}

<div class="poll_container centered"><!-- div geral que envolve o conteúdo -->

<form action="/polls/{{ poll.id }}/vote/" method="post" id="radio_bbb">

{% csrf_token %}

    <div class="poll_content">

        <h2><i></i> Quem deve ser <strong>eliminado</strong>?</h2>

        <!-- título geral. o <i></i> vazio faz carregar o ícone antes do texto-->
        
		  <h3><i></i>{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</h3>
            

			{% for choice in poll.choice_set.all %}

            {% if forloop.counter  == 1 %}
        	<div class="one2 first">
            <h3>{{choice.candidate}}</h3>
            <label for={{ choice.candidate }} ><!-- com jquery, adicionar class="selected_candidate" ao clicar no label -->
                <img src={{ choice.candidate_photo.url}} />
                <!--input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/-->
                <input type="radio" name="vote_id" id="{{ choice.id }}" value="{{ choice.id }}" onclick="setCheckedValue(document.forms['radio_bbb'].elements['vote_id'], {{ choice.id }});" />
            </label>

            <p>Para eliminar o <strong>{{ choice.candidate }}</strong> pelo telefone disque <strong>0800-123-001</strong> ou mande um SMS para <strong>8001</strong></p>

            </div> 

            {% else %}

            <div>
                   
            <h3>{{choice.candidate}}</h3>
            <label for={{ choice.candidate }}><!-- com jquery, adicionar class="selected_candidate" ao clicar no label -->
                <img src={{ choice.candidate_photo.url}} />
                <!--input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/-->
                <input type="radio" name="vote_id" id="{{ choice.id }}" value="{{ choice.id }}" onclick="setCheckedValue(document.forms['radio_bbb'].elements['vote_id'], {{ choice.id }});" />
            </label>

            <p>Para eliminar o <strong>{{ choice.candidate }}</strong> pelo telefone disque <strong>0800-123-001</strong> ou mande um SMS para <strong>8002</strong></p>
            </div>   


            {% endif %}          
          

		    {% endfor %}
       

        <div class="clear">
        </div>

    </div>



    {% if error %}
        <div style="text-align:center;"><b>As letras não conincidem. Tente Novamente</b></div>
    {% endif %}
    <input type="hidden" style="text-align:center;" value="{{ hash }}" name="imghash">
    <div style="text-align:center;"><b>Insira as letras da imagem abaixo</b>
    <br /><br />
    <input type="text" style="text-align:center;" size="20" name="imgtext"><br />
    <img src="{{MEDIA_URL}}img/{{ tempname }}" style="text-align:center;"><br />
    </div> 

    <div class="poll_submit"><!-- div para submeter voto. Tanto faz usar link, input ou button - todos irão se ajustar ao desing -->
       <!--a href="index02.html">Envie seu voto agora</a>
        <!--button>Envie seu voto agora</button-->
        <input type="submit" value="Envie seu voto agora" />
    </div>

</form>
<div class="close_poll"><a href="#">Fechar</a></div>
</div><!-- poll_container -->
</body>
</html>