<html>
<head>
    <style type="text/css" media="screen">
        @import url('{{MEDIA_URL}}css/base.css');
    </style>
</head>
<body>


<div class="poll_container centered"><!-- div geral que envolve o conteúdo -->

    <div class="poll_content">
        
        <div class="poll_submit">
        <h2>Paredões em Andamento</h2>
        {% if latest_poll_list %}
                <ul>
                {% for poll in latest_poll_list %}
                <a href="{% url polls.views.detail poll_id=poll.id %}">{{ poll.question }}</a>
                {% endfor %}
                </ul>
        {% else %}
                <p>Não há paredões em andamento.</p>
        {% endif %}
        </div>

        <div class="clear">
    </div>

</div><!-- poll_container -->
</body>
</html>