@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
.poll_container {background: #fff; width: 620px; border-radius: 3px; position: relative; border: 5px solid #eaeaea; font: normal 12px/1 "open sans", arial, sans-serif; margin: 16px 0;}
.poll_container .clear {clear: both; float: none;}
.poll_container form {margin: 0; padding: 0;}
.poll_container.centered {margin: 16px auto;}

.one2 {width: 280px; float: left; padding-left: 18px;}
.one2.first {padding-left: 0;}

.poll_content {padding: 20px; position: relative; border: 1px solid #d6d6d6; border-bottom: 0;}
.poll_content label {cursor: pointer; display: inline-block; overflow: hidden; border: 0; border-radius: 3px; margin: 0 0 6px;}
.poll_content label img {border: 1px solid #e0e0e0; border-radius: 3px; width: 278px; height: 290px;}
.poll_content label:hover img, .poll_content label.selected_candidate img {margin: -5px;}
.poll_content label:hover, .poll_content label.selected_candidate {border: 5px solid #ff9a00;}
.poll_content label input {display: none;}
.poll_content h2 i {display: inline-block; width: 36px; height: 36px; background: url(static/img//sprites.png) no-repeat 0 0; vertical-align: middle;}
.poll_content h2 {display: block; text-align: center; font-weight: normal; text-transform: uppercase; font-size: 22px; color: #545454; line-height: 1; margin: 0 0 20px; padding: 0 0 20px; background: url(static/img/sprites.png) no-repeat 0 -123px;}
.poll_content h3 {font-weight: bold; font-size: 20px; color: #545454; line-height: 1.2; margin: 0; padding: 0 0 12px;}
.poll_content p {font-size: 12px; line-height: 1.4; color: #555; margin: 0;}
.poll_content p.poll_alert {text-align: center; font-size: 18px;}

.poll_submit {padding: 20px; background: #f5f5f5; border: 1px solid #d6d6d6; text-align: center;}
.poll_submit a, .poll_submit button, .poll_submit input {text-decoration: none; display: inline-block; border: 1px solid #0061af; cursor: pointer; border-radius: 3px; color: #fff; text-shadow: -1px -1px 0 rgba(0,0,0,.4); font: bold 14px/1 "open sans", arial, sans-serif; margin: 0; padding: 12px 30px;
background: #007edd;
background-image:-moz-linear-gradient(top,#1094fb,#016ac2);
background-image:-webkit-linear-gradient(top,#1094fb,#016ac2);
background-image: linear-gradient(top,#1094fb,#016ac2);
}

.text_captha input.text {color: #FF0000;}

.poll_submit a:hover, .poll_submit button:hover, .poll_submit input:hover {background: #0f91f7;}

.poll_count {position: relative; overflow: hidden; height: 260px; border: 1px solid #d6d6d6; border-top: 0;}

.big_circle {background: #c6c6c6; box-shadow: inset 0 0 2px 0 #888, 0 0 6px -2px #888; border: 3px solid #fff; position: absolute; left: 50%; top: 64px; margin-left: -130px; display: inline-block; width: 260px; height: 260px; border-radius: 50%; overflow: hidden; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}
.rotating_circle {display: inline-block; position: absolute; top: 0; left: 0; border-radius: 50%;
width: 0; height: 0; border-right: 130px solid transparent; border-top: 130px solid transparent; border-bottom: 130px solid transparent; border-left: 130px solid #ff9516;
-webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
}
.rc0 .rotating_circle{
-webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
}

.rc1 .rotating_circle,.rc2 .rotating_circle,.rc3 .rotating_circle,.rc4 .rotating_circle,.rc5 .rotating_circle,.rc6 .rotating_circle,.rc7 .rotating_circle,.rc8 .rotating_circle,.rc9 .rotating_circle{
-webkit-transform: rotate(-72deg);
   -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
     -o-transform: rotate(-72deg);
        transform: rotate(-72deg);
}

.rc10 .rotating_circle,.rc11 .rotating_circle,.rc12 .rotating_circle,.rc13 .rotating_circle,.rc14 .rotating_circle,.rc15 .rotating_circle,.rc16 .rotating_circle,.rc17 .rotating_circle,.rc18 .rotating_circle,.rc19 .rotating_circle{
-webkit-transform: rotate(-63deg);
   -moz-transform: rotate(-63deg);
    -ms-transform: rotate(-63deg);
     -o-transform: rotate(-63deg);
        transform: rotate(-63deg);
}

.rc20 .rotating_circle,.rc21 .rotating_circle,.rc22 .rotating_circle,.rc23 .rotating_circle,.rc24 .rotating_circle,.rc25 .rotating_circle,.rc26 .rotating_circle,.rc27 .rotating_circle,.rc28 .rotating_circle,.rc29 .rotating_circle{
-webkit-transform: rotate(-36deg);
   -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
     -o-transform: rotate(-36deg);
        transform: rotate(-36deg);
}

.rc30 .rotating_circle,.rc31 .rotating_circle,.rc32 .rotating_circle,.rc33 .rotating_circle,.rc34 .rotating_circle,.rc35 .rotating_circle,.rc36 .rotating_circle,.rc37 .rotating_circle,.rc38 .rotating_circle,.rc39 .rotating_circle{
-webkit-transform: rotate(-9deg);
   -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
     -o-transform: rotate(-9deg);
        transform: rotate(-9deg);
}

.rc40 .rotating_circle,.rc41 .rotating_circle,.rc42 .rotating_circle,.rc43 .rotating_circle,.rc44 .rotating_circle{border-bottom-color: #ff9516;
-webkit-transform: rotate(18deg);
   -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
     -o-transform: rotate(18deg);
        transform: rotate(18deg);       
}
.rc45 .rotating_circle,.rc46 .rotating_circle,.rc47 .rotating_circle,.rc48 .rotating_circle,.rc49 .rotating_circle{border-bottom-color: #ff9516;
-webkit-transform: rotate(36deg);
   -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
     -o-transform: rotate(36deg);
        transform: rotate(36deg);
}
.rc50 .rotating_circle{border-bottom-color: #ff9516;
-webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
        transform: rotate(45deg);
}
.rc51 .rotating_circle,.rc52 .rotating_circle,.rc53 .rotating_circle,.rc54 .rotating_circle,.rc55 .rotating_circle{border-bottom-color: #ff9516;
-webkit-transform: rotate(54deg);
   -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
     -o-transform: rotate(54deg);
        transform: rotate(54deg);
}

.rc56 .rotating_circle,.rc57 .rotating_circle,.rc58 .rotating_circle,.rc59 .rotating_circle{border-bottom-color: #ff9516;
-webkit-transform: rotate(72deg);
   -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
     -o-transform: rotate(72deg);
        transform: rotate(72deg);
}

.rc60 .rotating_circle,.rc61 .rotating_circle,.rc62 .rotating_circle,.rc63 .rotating_circle,.rc64 .rotating_circle,.rc65 .rotating_circle,.rc66 .rotating_circle,.rc67 .rotating_circle,.rc68 .rotating_circle,.rc69 .rotating_circle{border-bottom-color: #ff9516; border-right-color: #ff9516;
-webkit-transform: rotate(99deg);
   -moz-transform: rotate(99deg);
    -ms-transform: rotate(99deg);
     -o-transform: rotate(99deg);
        transform: rotate(99deg);
}

.rc70 .rotating_circle,.rc71 .rotating_circle,.rc72 .rotating_circle,.rc73 .rotating_circle,.rc74 .rotating_circle,.rc75 .rotating_circle,.rc76 .rotating_circle,.rc77 .rotating_circle,.rc78 .rotating_circle,.rc79 .rotating_circle{border-bottom-color: #ff9516; border-right-color: #ff9516;
-webkit-transform: rotate(126deg);
   -moz-transform: rotate(126deg);
    -ms-transform: rotate(126deg);
     -o-transform: rotate(126deg);
        transform: rotate(126deg);
}

.rc80 .rotating_circle,.rc81 .rotating_circle,.rc82 .rotating_circle,.rc83 .rotating_circle,.rc84 .rotating_circle,.rc85 .rotating_circle,.rc86 .rotating_circle,.rc87 .rotating_circle,.rc88 .rotating_circle,.rc89 .rotating_circle{border-bottom-color: #ff9516; border-right-color: #ff9516;
-webkit-transform: rotate(153deg);
   -moz-transform: rotate(153deg);
    -ms-transform: rotate(153deg);
     -o-transform: rotate(153deg);
        transform: rotate(153deg);
}

.rc90 .rotating_circle,.rc91 .rotating_circle,.rc92 .rotating_circle,.rc93 .rotating_circle,.rc94 .rotating_circle,.rc95 .rotating_circle,.rc96 .rotating_circle,.rc97 .rotating_circle,.rc98 .rotating_circle,.rc99 .rotating_circle{border-bottom-color: #ff9516; border-right-color: #ff9516;
-webkit-transform: rotate(162deg);
   -moz-transform: rotate(162deg);
    -ms-transform: rotate(162deg);
     -o-transform: rotate(162deg);
        transform: rotate(162deg);
}

.rc100 .rotating_circle{border-bottom-color: #ff9516; border-right-color: #ff9516;
-webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
        transform: rotate(180deg);
}

.center_circle {background: #fff; box-shadow: 0 0 2px 0 #888; position: absolute; top: 40px; left: 40px; height: 20px; display: inline-block; width: 180px; height: 180px; border-radius: 50%; text-align: center;}
.center_circle span {color: #999; font-size: 13px; text-transform: uppercase; font-weight: bold; display: inline-block; margin-top: 46px;}
.center_circle strong {color: #ff9516; font-size: 32px; display: block; font-weight: normal; padding: 6px 0;}

.poll_candidate01, .poll_candidate02 {width: 278px; height: 290px; position: absolute; bottom: 0;}
.poll_candidate01 {left: -46px;}
.poll_candidate02 {right: -46px;}
.poll_number {font-size: 28px; position: absolute; bottom: 0; padding: 6px 10px; background: #fff; font-weight: 800; border-radius: 3px 3px 0 0; line-height: 1; color: #555; text-align: center;}
.poll_number small {font-size: 16px; display: inline-block; position: relative; top: -4px;}
.poll_candidate01 .poll_number {right: 34px; padding-right: 26px;}
.poll_candidate02 .poll_number {left: 34px; padding-left: 26px;}

.close_poll a {display: inline-block; width: 40px; height: 39px; background: url(static/img/sprites.png) no-repeat right top; position: absolute; top: -20px; right: -20px; text-indent: -999em; overflow: hidden;}