<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Blue Micro by Bryant Smith</title>

  
</head><body>
<div id="page">
<div id="header">&nbsp;&nbsp;&nbsp;&nbsp;  <br />
<h1 style="text-align: center; font-weight: normal;"><big><big>BBB 2012</big></big></h1>
</div>
</div>

<div id="content">
<div id="container">
<div id="main">
<div id="menu">
<ul>

  <li>Novo<br /></li>
<li>Paredões</li>

</ul>
</div>
<div id="text">
<h1>Crie um novo paredão<br />
</h1>
<p>Clicando no link abaixo, você poderá criar um novo paredão para BBB
2012. Como o acesso é restrito, você deverá utilizar sua credencial ou
as credenciais default admin/admin.</p>
<br />
<p><br />
</p>
</div>
</div>
</div>
<br />
</div>

</body></html>